<div class={{bem this.blockName}} ...attributes>
  <div class={{bem this.blockName "container"}}>
    <h1 class={{bem this.blockName "display-id"}}>
      {{this.peer.display.id}}
    </h1>

    <div class={{bem this.blockName "status"}}>
      {{this.peer.state}}
    </div>

    <div class={{bem this.blockName "message"}}>
      {{this.peer.message}}
    </div>

    <div class={{bem this.blockName "meta"}}>
      <div class={{bem this.blockName "label"}}>
        Peer ID:
      </div>
      <div class={{bem this.blockName "value"}}>
        {{this.peer.id}}
      </div>
      <div class={{bem this.blockName "label"}}>
        Screen Width
      </div>
      <div class={{bem this.blockName "value"}}>
        {{this.peer.display.bounds.width}}
      </div>
      <div class={{bem this.blockName "label"}}>
        Screen Height
      </div>
      <div class={{bem this.blockName "value"}}>
        {{this.peer.display.bounds.height}}
      </div>
    </div>
  </div>
</div>
